body {
    font-family: 'Julius Sans One', sans-serif;
    background-color: #e9ecef;
}

.display-4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
}

#get-started,
#press-any-letter,
.hint,
#hint-button,
.already-pressed {
    font-family: 'Averia Serif Libre', cursive;
}

.hint {
    color: #b74400;
}

.jumbotron {
    padding-bottom: 0;
}

.jumbotron h1 {
    font-size: 3.5em;
}

.scoreboard {
    border: 1px solid #629ebb;
}

.scoreboard h6 {
    padding-top: 5px;
}

.current-game h5 {
    display: inline;
}

.theme {
    color: #fff;
    background-color: #0075fa;
    padding: 8px;
    border-radius: 2px;
}

ul {
    padding: 0;
}

ul li {
    display: inline;
}

#you-won,
#you-lost {
    background-color: rgba(173, 197, 218, 0.64);
    color: #fff;
}

#second-word-button,
#third-word-button,
#final-score-button {
    border: 1px dashed #fff;
}

/* ----- media queries ----- */

/* tablets (landscape) and bigger */
@media only screen and (min-width: 1000px) {
    .display-4 {
        font-size: 4.5em;
        letter-spacing: .1em;
    }

    .jumbotron h1 {
        font-size: 5.5em;
        letter-spacing: .6em;
    }
}

/* laptops and bigger */
@media only screen and (min-width: 1400px) {
    #keyboard-button {
        display: none;
    }
}